html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    margin:0;
    padding:0;
}
html,body{
   height:100%; /*let body have the browser's height */

}
.box2{
    width:33.33%;
    float:left;

}
.parent{
    width:100%;
    position:absolute;/**/
    top:50px;/*give the space to red part*/
    bottom:50px;/*give the space to purple part*/
}
#red{
    background:red;
    height:50px;
}


#yellow{
    background:yellow;
    height:100%;

}
#green{
    background:green;
    height:100%;
}
#blue{
    background:blue;
    height:100%;

}

#purple{
    background:purple;
    height:50px;
    width:100%;/*everytime position is relative, heightand width have to be setted,or the default value of height and width are 0;*/
    position:absolute;/*the parent part of this absolute part has to be relative*/
    bottom:0px;/*set the position of purple*/
}