html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    margin:0;
    padding:0;
}
.box1{
    min-height:100px;
}

.box2{
    min-height:100px;
    width:33.33%;
    float:left;
}
body{

    height:800px;
}
#red{
    background:red;
    height:15%;
}

.parent{
    box-sizing:border-box;
    height:70%;

}
#yellow{
    background:yellow;
    height:100%;

}
#green{
    background:green;
    height:100%;
}
#blue{
    background:blue;
    height:100%;

}

#purple{
    background:purple;
    clear:both;
    height:15%;
}